[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
commonmark = "*"
pypyr = "*"
python-dateutil = "*"
rich = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
six = "*"
Pygments = "*"

[dev-packages]

[requires]
python_version = "3"
